In [2]:
import pandas as pd


y = pd.Period("2016")

In [3]:
y

Period('2016', 'A-DEC')

In [5]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [7]:
m = pd.Period("2011-1", freq="M")

In [9]:
m
m.start_time

Timestamp('2011-01-01 00:00:00')

In [10]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [11]:
m + 1

Period('2011-02', 'M')

In [15]:
d = pd.Period("2016-02-28")

In [16]:
d

Period('2016-02-28', 'D')

In [17]:
d+1

Period('2016-02-29', 'D')

In [18]:
h = pd.Period("2016-02-28 23:00:00", freq="H")

In [19]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [20]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [21]:
h+pd.offsets.Hour(5)

Period('2016-02-29 04:00', 'H')

In [22]:
# handling quarters 

q = pd.Period("2017Q1")
q

Period('2017Q1', 'Q-DEC')

In [23]:
q+1

Period('2017Q2', 'Q-DEC')

#### what if quarter doesn't ends in december like walmart

In [24]:
q = pd.Period("2017Q1", freq="Q-JAN")

In [26]:
q

print(q.start_time)
print(q.end_time)

2016-02-01 00:00:00
2016-04-30 23:59:59.999999999

In [28]:
# change Period to desired frequency

q.asfreq("M", how="end")

Period('2016-04', 'M')

In [29]:
q2 = pd.Period("2018Q2", freq="Q-JAN")

In [31]:
q2-q

In [33]:
# like creating dateIndex we can create periodIndex

idx = pd.period_range("2011", "2017", freq="Q")
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [34]:
idx = pd.period_range("2011", "2017", freq="Q-JAN")
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [36]:
idx = pd.period_range("2011", periods=10, freq="Q-JAN")
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [38]:
import numpy as np

ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -1.689310
2012Q1   -0.791603
2012Q2    1.947265
2012Q3    1.785172
2012Q4    0.164888
2013Q1   -0.432793
2013Q2   -1.593235
2013Q3   -2.162935
2013Q4    1.517911
2014Q1   -0.240295
Freq: Q-JAN, dtype: float64

In [40]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [44]:
ps["2011":"2013"]

2011Q4   -1.689310
2012Q1   -0.791603
2012Q2    1.947265
2012Q3    1.785172
2012Q4    0.164888
2013Q1   -0.432793
2013Q2   -1.593235
2013Q3   -2.162935
2013Q4    1.517911
2014Q1   -0.240295
Freq: Q-JAN, dtype: float64

In [45]:
# converting index into datetimeindex 

pst = ps.to_timestamp()
pst

2010-11-01   -1.689310
2011-02-01   -0.791603
2011-05-01    1.947265
2011-08-01    1.785172
2011-11-01    0.164888
2012-02-01   -0.432793
2012-05-01   -1.593235
2012-08-01   -2.162935
2012-11-01    1.517911
2013-02-01   -0.240295
Freq: QS-NOV, dtype: float64

In [46]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [47]:
pst.to_period()

2010Q4   -1.689310
2011Q1   -0.791603
2011Q2    1.947265
2011Q3    1.785172
2011Q4    0.164888
2012Q1   -0.432793
2012Q2   -1.593235
2012Q3   -2.162935
2012Q4    1.517911
2013Q1   -0.240295
Freq: Q-DEC, dtype: float64

In [49]:
df = pd.read_csv("wml.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [50]:
df.set_index("Line Item", inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [51]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [52]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [53]:
df["start date"] = df.index.map(lambda x:x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [54]:
df["end date"] = df.index.map(lambda x:x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999